@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #191d2b;
  --color-secondary: #f5f5f5;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}

body {
  background-color: var(--color-black);
  font-family: "Poppins", agdasima;
  font-size: 1.3rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}
.about-container .right-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.about-container .right-about .about-item {
  border: 1px solid var(--color-gray-5);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}
.about-container .right-about .about-item:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--color-secondary);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
}
.about-container .right-about .about-item .abt-text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
.about-container .right-about .about-item .abt-text .large-text {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-secondary);
}
.about-container .right-about .about-item .abt-text .small-text {
  padding-left: 3rem;
  position: relative;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--color-grey-1);
  letter-spacing: 2px;
}
.about-container .right-about .about-item .abt-text .small-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 2rem;
  height: 2px;
  background-color: var(--color-grey-5);
}
.about-container .left-about {
  padding-right: 5rem;
}
.about-container .left-about p {
  line-height: 2rem;
  padding: 1rem;
  color: var(--color-grey-1);
}
.about-container .left-about h4 {
  font-size: 2rem;
  text-transform: uppercase;
}

.about-stats {
  padding-bottom: 4rem;
}
.about-stats .progress-bars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.about-stats .progress-bars .progress-bar {
  display: flex;
  flex-direction: column;
}
.about-stats .progress-bars .progress-bar .prog-title {
  text-transform: uppercase;
  font-weight: 500;
}
.about-stats .progress-bars .progress-bar .progress-con {
  display: flex;
  align-items: center;
}
.about-stats .progress-bars .progress-bar .progress-con .prog-text {
  color: var(--color-grey-2);
}
.about-stats .progress-bars .progress-bar .progress-con .progress {
  width: 100%;
  height: 0.45rem;
  background-color: var(--color-grey-4);
  margin-left: 1rem;
  position: relative;
}
.about-stats .progress-bars .progress-bar .progress-con .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--color-secondary);
  transition: all 0.4s ease-in-out;
  width: 60%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .html {
  width: 80%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .css {
  width: 95%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .js {
  width: 75%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .react {
  width: 60%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .node {
  width: 87%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .python {
  width: 70%;
}

.stat-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  padding: 3.5rem 0;
  position: relative;
}
.stat-title::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 40%;
  height: 1px;
  background-color: var(--color-grey-5);
  transform: translateX(-50%);
}

.CV-container {
  position: absolute;
  top: -70px;
  right: 50%;
  transform: translateX(50%);
  z-index: 10;
  color: #000;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
  background-color: transparent;
  border-radius: 10px;
  padding: 50px 0;
}

.container {
  position: relative;
  width: 100%;
  padding: 10px 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.container:hover {
  transform: translateY(-10px);
}

.timeline img {
  width: 100px;
  border-radius: 50%;
  margin-right: 15px;
}

.text-box {
  padding: 20px 30px;
  background: transparent;
  border-radius: 6px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  flex: 1;
}

.text-box h2 {
  font-weight: 600;
  margin-bottom: 10px;
}
.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}

@media screen and (max-width: 600px) {
  .timeline {
    margin: 50px auto;
  }
  .container {
    flex-direction: column;
    align-items: flex-start;
  }
  .text-box {
    font-size: 13px;
  }
  .text-box small {
    margin-bottom: 10px;
  }
}
.job-responsibilities {
  list-style-type: disc;
  padding-left: 20px;
}
.job-responsibilities li {
  color: var(--color-white);
  font-size: 15px;
  line-height: 1.5;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.main-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  opacity: 1;
}

header {
  min-height: 100vh;
  color: var(--color-white);
  overflow: hidden;
  padding: 0 !important;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
  background-color: transparent;
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
  background-color: transparent;
}

.active {
  display: block;
  animation: scaleAnim 1s ease-in-out;
}

.controls {
  position: fixed;
  z-index: 10;
  bottom: 5%;
  left: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  gap: 1rem;
}
.controls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: transparent;
  width: 150px;
  height: 55px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0;
  box-shadow: var(--box-shadow-1);
}
.controls .control i {
  font-size: 1.2rem;
  color: var(--color-grey-2);
  pointer-events: none;
}
.controls .control::after {
  content: attr(data-id);
  text-transform: capitalize;
  margin-left: 10px;
}
.controls .control:active {
  animation: glowing 1s;
}
.controls .active-btn {
  transition: all 0.4s ease-in-out;
}
.controls .active-btn i {
  color: var(--color-white);
}

@keyframes glowing {
  0% {
    background-color: transparent;
  }
  25% {
    background-color: rgba(238, 227, 227, 0.1);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.3);
  }
  75% {
    background-color: rgba(255, 255, 255, 0.1);
  }
  100% {
    background-color: transparent;
  }
}
.port-text {
  padding: 2rem 0;
  text-align: center;
}

.portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}
.portfolios .portfolio-item {
  position: relative;
  border-radius: 15px;
}
.portfolios .portfolio-item img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.portfolios .portfolio-item .hover-items {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-items h3 {
  font-size: 1.5rem;
  color: var(--color-white);
  margin-bottom: 1.5rem;
}
.portfolios .portfolio-item .hover-items .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolios .portfolio-item .hover-items .icons .icon {
  background-color: var(--color-black);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-items .icons .icon i {
  font-size: 1.5rem;
  color: var(--color-white);
  margin: 0 1rem;
}
.portfolios .portfolio-item .hover-items .icons .icon:hover {
  background-color: var(--color-white);
}
.portfolios .portfolio-item .hover-items .icons .icon:hover i {
  color: var(--color-primary);
}

.portfolio-item:hover .hover-items {
  opacity: 1;
  transform: scale(1);
}

/*Independent-content*/
.main-title {
  text-align: center;
  font-family: "Press Start 2P", cursive;
}
.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
}
.main-title h2 .text-container {
  white-space: nowrap;
  overflow: hidden;
}
.main-title h2 .text-container .scroll-text {
  display: inline-block;
  color: #e0e7ec;
  text-shadow: 3px 3px 0 #564848;
  animation: scroll 15s linear infinite;
}
.main-title p {
  font-size: 1.2rem;
  text-shadow: 2px 2px 0 var(--color-black);
}

.full-width {
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(300%);
  }
}
body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.btn-con {
  display: flex;
}

.main-btn {
  border-radius: 15px;
  color: var(--color-black);
  font-weight: 500;
  position: relative;
  border: 1px solid #9E9E9E;
  display: flex;
  padding: 0.8rem 2rem;
  align-items: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  background-color: #E0E0E0;
  margin-right: 20px; /* Adjust as per your requirement */
}
.main-btn .btn-text {
  margin: 0 1rem;
}
.main-btn .btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin: 0 1rem;
}
.main-btn:hover {
  background-color: #BDBDBD;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}/*# sourceMappingURL=Style.css.map */